#principal{
    width:100vw;
    height: 50vw;
    background-color: rgb(179, 240, 245);
    margin: -1vw;
    display: flex;


}
#cajafirst{
    width: 20vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#cajasecu{
    width: 75vw;
    height: 44vw;
    border: 3px solid rgb(4, 58, 31);
    position: relative;
    left: 2vw;
    top: 3vw;
    border-radius: 2vw;
    background-color: #ffffff;
    display: flex;
    gap: 3vw;
}
#textcampus{
    font-size: 2.5vw;
    position: relative;
    top: -9vw;
    color: rgb(28, 8, 136);

}
#texttodos{
    padding-bottom: 1vw;
    font-size: 1.5vw;
    position: relative;
    top: -8vw;
    left: -1vw;
    color: rgb(7, 6, 7);

}
#textabrigos{
    padding-bottom: 1vw;
    font-size: 1.5vw;
    position: relative;
    top: -7vw;
    color: rgb(7, 6, 7);
    left: -4.7vw;
}
#textcamisetas{
    padding-bottom: 1vw;
    font-size: 1.5vw;
    position: relative;
    top: -6vw;
    color: rgb(7, 6, 7);
    left: -3.9vw;

}
#textpantalones{
    padding-bottom: 1vw;
    font-size: 1.5vw;
    position: relative;
    top: -4vw;
    color: rgb(7, 6, 7);
    left: -3.8vw;

}
a{
    text-decoration: none;
    color: black;
    
}
#textcarrito{
    padding-bottom: 1vw;
    font-size: 1.5vw;
    position: relative;
    top: 2vw;
    color: rgb(7, 6, 7);
    left: -3.8vw;

}

#todo{
    width: 2.5vw;
    height: 2.5vw;
    position: relative;
    top: 1vw;
}
#todo1{
    width: 3vw;
    height: 3vw;
    position: relative;
    top: 1vw;
}
#todo2{
    width: 2.5vw;
    height: 2.5vw;
    position: relative;
    top: 1vw;
    left: -0.5vw;
}
#nameabrigos{
    width: 30vw;
    height: 3vw;
    font-size: 2vw;
    color: rgb(28, 8, 136);
    position: relative;
    left: 4vw;
    top: 2vw;
}
#copy{
    font-size: 1.5vw;
    position: relative;
    top: 10vw;

}
#cuadritocarro{
    width: 2vw;
    height: 2vw;
    background-color: #fff;
    position: relative;
    left: 18vw;
    top: -1.8vw;
    border: 1px solid darkgray;
}
#texttodos:hover{
    background-color: rgb(243, 246, 247);
    border-radius: 1vw;
}
#textabrigos:hover{
    background-color: rgb(243, 246, 247);
    border-radius: 1vw;
}
#textcamisetas:hover{
    background-color: rgb(243, 246, 247);
    border-radius: 1vw;
}
#textpantalones:hover{
    background-color: rgb(243, 246, 247);
    border-radius: 1vw;
}
#textcarrito:hover{
    background-color: rgb(243, 246, 247);
    border-radius: 1vw;
}